#navDiv{
	display:flex;
	width:100vw;
	min-height:50px;
	justify-content:space-around;
	flex-direction:row;
	background-color:orange;
	font-family:sans-serif;
	color:white;
}
#logoDiv{
	width:15%;
	display:block;
	padding:10px;
	flex-direction:column;
	justify-content:center;
}
#balenceDiv{
	width:50%;
	height:20px;
	padding:50px;
	background-color:gold;
	border-radius:20px;
}
.bale{
	padding:10px;
	border:0px;
	background-color:wheat;
	color:blue;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	font-family:sans-serif;
	font-size:25px;
	
}
.bale:hover{
	padding:10px;
	border:0px;
	background-color:yellow;
	color:blue;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}
#dollorSign{
	margin:13px;
	padding:10px;
	background-color:orange;
	color:white;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	font-family:sans-serif;
	font-size:25px;
}
#sender{
	display:none;
	position:absolute;
	background-color:white;
	top:10vh;
	width:98vw;
	min-height:500px;
	box-shadow:5px 5px 5px gray;
	border-radius:20px;
}
.btn{
	background-color:orange;
	color:white;
	border:0px;
	border-radius:10px;
	padding:10px;
	margin:15px;
	font-family:sans-serif;
	font-size:20px;
}
.moneyMode{
	width:25vw;
	border-radius:10px;
	border:5px solid orange;
}
}
.moneyMode:hover{
	border-radius:10px;
	border:5px solid blue;
}
#screenCover{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:black;
	opacity:0.9;
}
.orange{
	font-family:sans-serif;
	color:orange;
}